<div class='new-booking-wrapper' id='booking-wrapper'>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 on" id='left'>
        <div class="new-booking-details">
          <div class='new-booking-block-title'>
            <div class='new-booking-block-title-line'>
              Please, choose the dates:
            </div>

            <div class='new-booking-buttons'>
              <br>
              <div class='row'>
                <%= simple_form_for @booking, url: storage_bookings_path(@storage.id) do |f| %>
                <div class="col-lg-6 offset-lg-6">

                  <%= f.input :start_date, as: :date, html5: true, label: 'Start from', error: 'This field is mandatory' %>
                </div>
                <div class="col-lg-6 offset-lg-6">
                  <%= f.input :end_date, as: :date, html5: true, label: 'End on', error: 'This field is mandatory' %>
                </div>
                <%= f.button :submit, class: 'show-message-button btn-primary' %>
                <% end %>
                <br>
                <%= link_to 'Cancel', 'javascript:history.back()', class:'show-message-button
                btn-light', id: 'cancel'%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>