<h1>storages</h1>


          <% @storages.each do |storage| %>
          <tr>
            <td><%= storage.address %></td>
            <td><%= storage.price %></td>
            <td><%= storage.description %></td>
            <td><%= storage.name %></td>
            <td><%= storage.photo %></td>
            <td><%= storage.sqm %></td>


            <td><%= link_to 'Show', storage %></td>


            <td><%= link_to 'Edit', edit_storage_path(storage) %></td>


            <td><%= link_to 'Destroy', storage_path(storage), method: :delete, data: { confirm: 'Are you sure?' } %></td>

          </tr>
          <% end -%>
        </tbody>
